html,
body{

    height: 100%;
    font-family: 'Microsoft Yahei';
    color: #333;
    background-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}